{% load staticfiles %}
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <div id="jstree">

                            <!-- in this example the tree is populated from inline HTML -->
                            <ul>
                              <li data-jstree='{"type":"environment"}'>Production <span class="fa fa-warning" style="color:red"></span>
                                <ul>
                                  <li data-jstree='{"type":"master"}'>Masters <span class="fa fa-warning" style="color:red"></span>
                                    <ul>
                                      <li data-jstree='{"type":"master"}' id="pnamenode01">namenode01 <span class="fa fa-warning" style="color:red"></span></li>
                                      <li data-jstree='{"type":"master"}' id="pnamenode02">namenode02</li>
                                      <li data-jstree='{"type":"master"}' id="presourcemanager01">resourcemanager01</li> 
                                    </ul>
                                  </li>
                                   <li data-jstree='{"type":"node"}'>Slaves <span class="badge">{{ received_orders|length }}</span>
                                    <ul>
                                      <li data-jstree='{"type":"node"}'id="pdatanode01">datanode01</li>
                                      <li data-jstree='{"type":"node"}'id="pdatanode02">datanode02</li>
                                      <li data-jstree='{"type":"node"}'id="pdatanode03">datanode03</li>
                                      <li data-jstree='{"type":"node"}'id="pdatanode04">datanode04</li>
                                      <li data-jstree='{"type":"node"}'id="pdatanode05">datanode05</li>
                                      <li data-jstree='{"type":"node"}'id="pdatanode06">datanode06</li>
                                    </ul>

                                  </li>
                                  
                                </ul>
                              </li>
                               <li data-jstree='{"type":"environment"}'>Pre Production
                                <ul>
                                  <li data-jstree='{"type":"master"}'>Masters
                                    <ul>
                                      <li data-jstree='{"type":"master"}' id="namenode01">namenode01</li>
                                      <li data-jstree='{"type":"master"}' id="namenode02">namenode02</li>
                                      <li data-jstree='{"type":"master"}' id="resourcemanager01">resourcemanager01</li>
                                    </ul>
                                  </li>
                                   <li data-jstree='{"type":"node"}'>Slaves
                                    <ul>
                                      <li data-jstree='{"type":"node"}'id="datanode01">datanode01</li>
                                      <li data-jstree='{"type":"node"}'id="datanode02">datanode02</li>
                                      <li data-jstree='{"type":"node"}'id="datanode03">datanode03</li>
                                      <li data-jstree='{"type":"node"}'id="datanode04">datanode04</li>
                                      <li data-jstree='{"type":"node"}'id="datanode05">datanode05</li>
                                      <li data-jstree='{"type":"node"}'id="datanode06">datanode06</li>
                                    </ul>
                                  </li>
                                  
                                </ul>
                              </li>
                              <li data-jstree='{"type":"environment"}'>Undefined 
                                <ul>
                                  <li data-jstree='{"type":"undefined"}' id="uhostname01">hostname01</li>
                                  <li data-jstree='{"type":"undefined"}' id="uhostname02">hostname02</li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          <!-- END JSTREE --> 

            </li>
            <li>
                <a href="{% url 'cloudoopmngr:index' %}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'cloudoopmngr:flot' %}">Flot Charts</a>
                    </li>
                    <li>
                        <a href="{% url 'cloudoopmngr:morris' %}">Morris.js Charts</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="{% url 'cloudoopmngr:tables' %}"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li>
                <a href="{% url 'cloudoopmngr:forms' %}"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench fa-fw"></i> UI Elements<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'cloudoopmngr:panels' %}">Panels and Wells</a>
                    </li>
                    <li>
                        <a href="{% url 'cloudoopmngr:buttons' %}">Buttons</a>
                    </li>
                    <li>
                        <a href="{% url 'cloudoopmngr:notifications' %}">Notifications</a>
                    </li>
                    <li>
                        <a href="{% url 'cloudoopmngr:typography' %}">Typography</a>
                    </li>
                    <li>
                        <a href="{% url 'cloudoopmngr:grid' %}">Grid</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Second Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                            <li>
                                <a href="#">Third Level Item</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{% url 'cloudoopmngr:blank'%}">Blank Page</a>
                    </li>
                    <li>
                        <a href="{% url 'cloudoopmngr:login'%}">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>

                <!-- jQuery Version 1.11.0 -->
<script src={% static "js/jquery-1.11.0.js" %}></script>

<!-- Bootstrap Core JavaScript -->
<script src={% static "js/bootstrap.min.js" %}></script>

<!-- Metis Menu Plugin JavaScript -->
<script src={% static "js/plugins/metisMenu/metisMenu.min.js" %}></script>

<!-- Custom Theme JavaScript -->
<script src={% static "js/sb-admin-2.js" %}></script>

<script>
      $(function () {
        // 6 create an instance when the DOM is ready
        //$('#jstree').jstree(); //DEFAULT
        $('#jstree').jstree({
          "core" : {
           // so that create works
           "check_callback" : true
          },
         // "contextmenu" : {
         //   "show_at_node" : false // levanta el pop en el puntero y no en el nodo
          //},
          //"checkbox" : {
          //  "keep_selected_style" : false
          //},
          "types" : {
            "default" : {
              "icon" : "fa fa-hdd-o fa-fw"
            },
            "master" : {
              "icon" : "fa fa-laptop fa-fw"
            },
            "undefined" : {
              "icon" : "fa fa-question fa-fw"
            },
            "environment" : {
             "icon" : "fa fa-sitemap fa-fw"

            }

          },
          //"plugins" : [ "contextmenu", "sort", "dnd", "search", "checkbox", "types"]
          "plugins" : ["sort", "search", "types", "ui"]
        });

        var to = false;
        $('#jstree_q').keyup(function () {
          if(to) { clearTimeout(to); }
          to = setTimeout(function () {
            var v = $('#jstree_q').val();
            $('#jstree').jstree(true).search(v);
          }, 250);
        });

        // 7 bind to events triggered on the tree
        $('#jstree').on("changed.jstree", function (e, data) {
         // console.log(data.selected);
     
        });
        $("#jstree").bind("select_node.jstree", function (e, data) {
            console.log(data.node);
            console.log(data.node.a_attr.href);
            var href = data.node.a_attr.href;
            
            if(href!="#"){
                // this will load content into a div:
                //$("#page-wrapper").load(href);
                // this will follow the link:
                document.location.href = href;
            }
            
          }) ;
        
      });
  </script>
